.loginContainer {
  background-color: #001d3d;
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 20px;
  padding: 30px;
}

.loginContainer > div {
  padding: 15px;
}

.loginContainer > div > label {
  padding-right: 10px;
}

.loginContainer > div > input {
  border-radius: 10px;
}

.btnsWrap > button {
  scale: 1.4;
  display: block; /* Makes the button take up the full width */
  margin: 0 auto; /* Centers the block element */
}

.btnsWrap {
  display: flex;
}

.noPassDisplay {
  font-family: inherit;
  -webkit-text-security: none;
}

#liveAlertPlaceholder {
  position: absolute;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
}

#warning {
  display: flex;
}

#warning > button {
  background: none;
  border: none;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

#warning > button:hover {
  transform: scale(1.5);
}
