* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.banner {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #0a163d;
    color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #333;
}


.banner-divider {
    margin: 0 auto;
    width: 11%;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
}

.banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    max-width: 75%;
    box-shadow: 0 6px 20px rgba(0, 0, 0.3, 0.6);
}

.product img {
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
}

.product-specs {
    font-size: 14px;
    color: #666;
}

.buy-btn {
    display: inline-block;
    margin-top: 10px;
    width: 140px;
    height: 50px;
    background-color: #000;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    line-height: 50px;
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.buy-btn img {
    height: 30px;
    width: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.buy-btn:hover {
    background-color: #222;
}

.footer {
    background-color: #0a163d;
    color: white;
    padding: 30px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo-section {
    flex: 1;
    min-width: 300px;
}

.footer-logo-section .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.footer-logo-section .description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-contact-section {
    margin-left: 5%;
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.footer-contact-section .contact-title {
    font-weight: bold;
    margin-top: 10px;
}

.footer-contact-section .contact-info {
    font-size: 14px;
    line-height: 1.8;
}

.footer-disclaimer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    line-height: 1.5;
    font-size: 12px;
}