body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  font-family: "Karla", serif;
}

.top {
  background-color: black;
  height: 65px;
  width: 100%;
  justify-content: center;
}

.topContainer {
  color: white;
  display: flex;
  justify-content: flex-end;
  width: 95%;
  padding: 10px;
  align-items: center;
}

#usericon {
  margin-right: 10px;
  font-size: xx-large;
}

.navigation {
  background-color: #001d3d;
  height: 65px;
  width: 100%;
  justify-content: center;
}

.navContainer {
  color: white;
  display: flex;
  width: 95%;
  padding: 0px;
  align-items: center;
  height: 65px;
}

.navContainer > div {
  display: flex;
  border-right: 1px white solid;
  width: fit-content;
  padding: 0px;
  height: 65px;
  margin-right: 5px;
  margin-left: 5px;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.navContainer > img {
  margin-right: 7px;
  height: 20px;
  width: 20px;
}

footer {
  height: 400px;
  width: 100%;
  background-color: #001d3d;
  color: white;
}

.footerContainer {
  display: flex;
}

.footerLeft,
.footerRight {
  margin-top: 50px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footerLeft > h1 {
  margin: auto;
}

.footerLeft > div {
  padding: 30px;
  width: 50%;
  margin: auto;
  font-size: small;
}

.footerRight {
  display: flex;
  flex-direction: column;
  width: 52%;
  justify-content: center;
}

.footerRight > div > p {
  font-size: x-large;
}

.footerRight > div {
  width: 70%;
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.footerRight > div > img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 430px) {
  .footerRight > div > p {
    font-size: 10px;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .footerLeft > div {
    width: 50%;
    margin: auto;
    width: 50%;
    font-size: 10px;
    padding: 3px;
  }

  .navContainer > div {
    font-size: 12px;
    padding: 3px;
    height: 45px;
  }
  .navContainer > img {
    padding: 9px;
    height: 3px;
    width: 3px;
  }

  .footerRight > div > img {
    width: 10px;
    height: 10px;
  }

  .footerRight {
    width: 50%;
  }

  #usericon {
    font-size: x-large;
  }

  .footerRight > div > img {
    height: 20px;
    width: 20px;
  }

  .footerLeft,
  .footerRight {
    margin-top: 10px;
  }
}

@media screen and (min-width: 430px) and (max-width: 790px) {
  .navContainer > div {
    font-size: 15px;
    padding: 9px;
    height: 45px;
  }

  .footerRight > div > p {
    font-size: 15px;
  }

  .footerLeft > div {
    font-size: 11px;
  }

  .footerLeft > div {
    width: 50%;
    margin: auto;
    width: 50%;
    padding: 3px;
  }
}
